 <div class="main-container">
        <div class="cloud-image">
                        <%=image_tag("mantech-logo.svg", alt: "mantech-logo")%>
        </div>
        <class="content">
            <class="tweet-container">
            <a href="https://accordions.bitbucket.io">
                                <%=image_tag("login_logo.svg", alt: "login_logo")%>
            </a>
            <div class="content-body">
                <div class="success-text">Success!</div>
                <div class="description line-1"> build</div>
                <div class="description line-2"> Ruby test app</div>
                <div class="next-steps-container">
                    <div class="next-steps-body">
                        <div class="step">
                </div>
            </div>
        </div>
    </div>
